@model IEnumerable<Calisan>

<h2>Çalışanlar</h2>
<hr>

<a href="/Calisan/Create" class="btn btn-primary mb-3">Çalışan Ekle</a>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card bg-secondary text-white shadow border-secondary">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Ad)</h5>
                    <p class="card-text">
                        <strong>Adres:</strong> @Html.DisplayFor(modelItem => item.Soyad) <br />
                        <strong>Telefon:</strong> @Html.DisplayFor(modelItem => item.Telefon) <br />
                        <strong>Çalışma Saatleri:</strong> @Html.DisplayFor(modelItem => item.UzmanlikAlani)
                        <strong>Çalışma Saatleri:</strong> @Html.DisplayFor(modelItem => item.Uygunluk)
                        <strong>Çalışma Saatleri:</strong> @Html.DisplayFor(modelItem => item.SalonId)

                    </p>
                    <div class="d-flex justify-content-between">
                        <a asp-controller="Calisan" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Detaylar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


